@keyframes zapal{
	from{
		opacity:0;
	}
	to{
		opacity:1;
	}
}
p {
    font: 48px Arial;
    text-align: center;
	color: silver;
	
  }

.container {width: 99%;
     background-color: green;
}
.blue1 { width: 33%; 
background-color: #66ccff;
height: 250px; float: left; 
animation-name: zapal;
animation-duration: 1s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.blue2 { width: 33%; 
background-color: #3399ff;
height: 250px; float: left; 
animation-name: zapal;
animation-duration: 2s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.blue3 { width: 33%; 
background-color: #0066cc;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 3s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.orange1 { width: 33%; 
background-color: #ffcc66;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 4s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.orange2 { width: 33%; 
background-color: #ff9933;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 5s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.orange3 { width: 33%; 
background-color: #ff6600;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 6s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.yellow1 { width: 33%; 
background-color: #ffffcc;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 7s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.yellow2 { width: 33%; 
background-color: #ffff99;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 8s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
.yellow3 { width: 33%; 
background-color: #ffff66;
height: 250px; float: left;
animation-name: zapal;
animation-duration: 9s;
animation-fill-mode: both;
animation-direction: alternate;
animation-iteration-count: 
infinite;
}
